# Environment
.env
*.pyc
__pycache__/
.venv/
# Data
*.parquet
output/
output_extension/
lambda_build/
lambda_package.zip
payload.json
# IDE
.vscode/
.idea/
airflow/logs/
airflow/plugins/
# OS
.DS_Store
Thumbs.db
dashboard.html

# dbt
dbt/logs/
dbt/target/